.figure0406 .plot {
  display: inline;
}

.figure0406 .plot-pair svg {
  margin-bottom: 2.4rem;
  overflow: visible;
}

.figure0406 .super-title {
  font-size: 1.2rem;
  margin-bottom: 1.6rem;
  text-align: center;
}

.figure0406 .title-percolator {
  color: steelblue;
}

.figure0406 .title-idpep {
  color: orange;
}

.figure0406 .title {
  font-size: .9rem;
}

.figure0406 .label {
  font-size: .8rem;
}
