html {
  box-sizing: border-box;
  font-size: 14px; }
  html *,
  html *:after,
  html *:before {
    box-sizing: inherit;
    margin: 0;
    padding: 0; }
  html .container {
    background-color: gray;
    width: 100%;
    margin: 0 auto;
    max-width: 1140px; }
    @media screen and (max-width: 1199.98px) {
      html .container {
        max-width: 820px; } }
    @media screen and (max-width: 991.98px) {
      html .container {
        max-width: 720px; } }
    @media screen and (max-width: 767.98px) {
      html .container {
        max-width: 540px; } }
    @media screen and (max-width: 575.98px) {
      html .container {
        max-width: 100%; } }
